<div class="app sidebar-mini">
    <div class="page">
        <div class="page-main">
            <aside class="app-sidebar" #scrollMe>
                <div class="app-sidebar__user">
                    <div class="dropdown user-pro-body text-center">
                        <!-- <div class="user-pic">
                            <img src="assets/images/boy-face.png" alt="user-img" class="avatar-xl rounded-circle mb-1">
                        </div> -->
                        <div class="user-info">
                            <h6 class=" mb-1 text-light"><b>{{user | titlecase}}</b></h6>
                            <!-- <span class="text-center user-semi-title text-white">( {{roleName | titlecase}} )</span> -->
                        </div>
                    </div>
                </div>
               
                <ul class="side-menu">

                    <li class="slide" routerLinkActive="is-expanded">
                        <a class="side-menu__item" href="javascript:void(0);" routerLinkActive="active" data-toggle="slide" href="#"><i class="side-menu__icon fa fa-tag"></i><span class="side-menu__label">Header</span></a>
                        <ul class="slide-menu">
                           

                            <li>
                                <a class="slide-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                                true}" href="javascript:void(0);" routerLink="/header-media">
                                    <span class="side-menu__label">Header</span></a>
                            </li>

                         
                        </ul>
                    </li>
                    <li class="slide" routerLinkActive="is-expanded">
                        <a class="side-menu__item" href="javascript:void(0);" routerLinkActive="active" data-toggle="slide" href="#"><i class="side-menu__icon fa fa-tag"></i><span class="side-menu__label">Home</span></a>
                        <ul class="slide-menu">
                           

                            <li>
                                <a class="slide-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                                    true}" routerLink="/home-banner" href="javascript:void(0);">
                                    <span class="side-menu__label">Banner</span></a>
                            </li> 
                            <li>
                                <a class="slide-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                                    true}" routerLink="/appointment-details" href="javascript:void(0);">
                                    <span class="side-menu__label">Appointment Details</span></a>
                            </li>
                            <li>
                                <a class="slide-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                                    true}" routerLink="/specialization-details" href="javascript:void(0);">
                                    <span class="side-menu__label">Specialization Details</span></a>
                            </li> 
                             <li>
                                <a class="slide-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                                    true}" routerLink="/treatment" href="javascript:void(0);">
                                    <span class="side-menu__label">Treatment</span></a>
                            </li>
                            <li>
                                <a class="slide-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                                    true}" routerLink="/testimony" href="javascript:void(0);">
                                    <span class="side-menu__label">Testimony</span></a>
                            </li>
                            <!-- <li>
                                <a class="slide-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                                    true}" routerLink="/who-we-are" href="javascript:void(0);">
                                    <span class="side-menu__label">Who We Are</span></a>
                            </li> 
                            
                            <li>
                                <a class="slide-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                                    true}" routerLink="/question" href="javascript:void(0);">
                                    <span class="side-menu__label">Question</span></a>
                            </li>
                            <li>
                                <a class="slide-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                                    true}" routerLink="/test" href="javascript:void(0);">
                                    <span class="side-menu__label">Test</span></a>
                            </li>
                          
                            <li>
                                <a class="slide-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                                    true}" routerLink="/faq-banner" href="javascript:void(0);">
                                    <span class="side-menu__label">FAQ Banner</span></a>
                            </li> 

                            <li>
                                <a class="slide-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                                    true}" routerLink="/faq-lab-details" href="javascript:void(0);">
                                    <span class="side-menu__label">FAQ</span></a>
                            </li>

                            <li>
                                <a class="slide-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                                    true}" routerLink="/testimony-Lab" href="javascript:void(0);">
                                    <span class="side-menu__label">Testimony</span></a>
                            </li>

                            <li>
                                <a class="slide-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                                    true}" routerLink="/social-media" href="javascript:void(0);">
                                    <span class="side-menu__label">Social Media Link</span></a>
                            </li> -->

                         
                        </ul>
                    </li>

                    <li class="slide" routerLinkActive="is-expanded">
                        <a class="side-menu__item" href="javascript:void(0);" routerLinkActive="active" data-toggle="slide" href="#"><i class="side-menu__icon fa fa-tag"></i><span class="side-menu__label">Gallery</span></a>
                        <ul class="slide-menu">
                           

                            <li>
                                <a class="slide-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                                true}" href="javascript:void(0);" routerLink="/gallery">
                                    <span class="side-menu__label">Gallery Details</span></a>
                            </li>

                         
                        </ul>
                    </li>

                    <!-- <li class="slide" routerLinkActive="is-expanded">
                        <a class="side-menu__item" href="javascript:void(0);" routerLinkActive="active" data-toggle="slide" href="#"><i class="side-menu__icon fa fa-tag"></i><span class="side-menu__label">Equipments</span></a>
                        <ul class="slide-menu">
                           

                            <li>
                                <a class="slide-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                                true}" href="javascript:void(0);" routerLink="/equipments">
                                    <span class="side-menu__label">Equipments Details</span></a>
                            </li>

                         
                        </ul>
                    </li>-->

                    <li class="slide" routerLinkActive="is-expanded">
                        <a class="side-menu__item" href="javascript:void(0);" routerLinkActive="active" data-toggle="slide" href="#"><i class="side-menu__icon fa fa-tag"></i><span class="side-menu__label">Contact Us</span></a>
                        <ul class="slide-menu">
                           

                            <li>
                                <a class="slide-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                                true}" href="javascript:void(0);" routerLink="/contact-us">
                                    <span class="side-menu__label">Contact Us</span></a>
                            </li>
                            <li>
                                <a class="slide-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                                true}" href="javascript:void(0);" routerLink="/address">
                                    <span class="side-menu__label">Address</span></a>
                            </li>
                        </ul>
                    </li> 
                </ul>
            </aside>
        </div>
    </div>
</div>